<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/"><i class="fa fa-google-wallet"></i> MoodMail</a>
    <ul class="nav navbar-nav navbar-right pull-right">
        <li class="nav-item">
            <a class="nav-link" href="http://www.nathanvass.site/">
                <i class="fa fa-user"></i>
                Portfolio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/nathan-vass-4b9490132/">
                <i class="fa fa-linkedin"></i>
                Linkedin
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/th3nathan">
                <i class="fa fa-github"></i>
                Github
            </a>
        </li>
    </ul>
</nav>
