<% include partials/head %> 

    <% include partials/header %>
    <div class="container">
        <h1 class="text-center p-t-2">Welcome to MoodMail!</h1>
        <h5 class="text-muted text-center p-t-1">MoodMail analyzes your emails using Google's machine learning algorithms, giving you a perspective of how your positivity shifts over the course of a year. </h5>
        <h4 class="text-center p-t-2">Sign in to get your analysis</h4>
        <div class="text-center">
            <a href="/login/google">
                <img class="rounded mx-auto d-block" width="400px" src="https://developers.google.com/accounts/images/sign-in-with-google.png" />
            </a>
        </div>
    </div>

<% include partials/footer %>