<% include partials/head %> 
<% include partials/header %>

<h5 class="text-center p-t-1">Your analysis for the previous year is below. Positivity is rated on a scale from -1 (not positive) to 1 (very positive).</h5>

<div id="curve_chart" style="height: 500px"></div>
<%- chart %>

<% include partials/footer %>